@page
@model Blog.Pages.ArticleAddSuccessModel
@{
    ViewData["Title"] = "Article added successfully";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        <a class="nav-link" asp-area="" asp-page="/Index">Click here to continue.</a>
    </p>
}
