@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Friends List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name`</th>
                        <th scope="col">Age</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var fr in Model.FriendsList)
                    {
                        <tr>
                            <td>@fr.Id</td>
                            <td>@fr.Name</td>
                            <td>@fr.Age</td>
                            <th scope="col"><a asp-page="/view" asp-route-id="@fr.Id" >View</a></th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>